ion-toolbar {
    padding-right: 5px;
}

ion-row {
    padding-bottom: 0;
}

.logo {
    height: 3vh;
}

.notifications-badge {
    position: absolute;
    padding: 3px;
    right: -5px;
    top: -4px;
    border-radius: 51%;
    z-index: 1;
    --color: #7df0d3;
    --background: #7df0d3;
    width: 12px;
    height: 12px;
}

.notifications-button {
    --background: black;
    --color: var(--ion-color-secondary);

}

.profile-toolbar {
    padding: 0 30px;
    border-radius: 0 0 50px 50px;
    .item-avatar {
        ion-avatar {
            // border-right: 20px;
            height: 65px;
            width: 65px;
        }

        ion-label {
            padding-left: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }

        ion-label h2 {
            color: white;
            font-weight: bold;
            font-size: 15px;
        }

        ion-label p {
            color: #6334d6;
            font-size: 13px;
        }
    }

    .item-chips {
        padding-left: 10px;

        ion-label {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10px;
        }

        ion-icon {

            border-color: var(--ion-color-secondary);
            border-style: solid;
            border-width: 2px;
            border-radius: 50%;
        }

        ion-chip {
            background-color: #161616;
            padding: 12px 5px;
        }

        .left-chip {

            border-radius: 40px 0 0 40px;
            border-right: 0;
            margin-right: 0;
            padding-left: 25px;
        }

        .right-chip {
            border-radius: 0 40px 40px 0;
            border-left: 0;
            margin-left: 0;
            padding-right: 25px;
        }
    }

}

.swiper {

    ion-card {

        border-radius: 8%;

    }
}

.card-img {
    display: flex;
    flex-direction: column-reverse;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 18vh;

    .card-title {
        position: relative;
        padding: 4px 10px;
        font-size: 18px;
        font-weight: Bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-transform: uppercase;
    }

    .new-button {
        --ripple-color: transparent;
        --background-activated: transparent;
        color: white;

        ion-icon {
            margin: 0;
            color: white;
            font-size: 64px;
        }

        text-transform: uppercase;
    }

}

.new-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.new-card::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);

}
.program-badge{
    color: white;
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 1px;
    border-radius: 15px;
}

.card-subtitle{
    padding-left: 10px;
    font-weight: Bold;
}